.vs/
bin/
obj/
*.user
*.suo
*.cache
/.vs/ClassWork_COMP217_Week2_MKP/v17/.suo
/.vs/ClassWork_COMP217_Week2_MKP/v17/Browse.VC.db
/.vs/ClassWork_COMP217_Week2_MKP/v17/DocumentLayout.backup.json
/x64/Debug/ClassWork_COMP217_Week2_MKP.exe
/x64/Debug/ClassWork_COMP217_Week2_MKP.pdb
/ClassWork_COMP217_Week2_MKP/x64/Debug/vc143.pdb
/ClassWork_COMP217_Week2_MKP/x64/Debug/vc143.idb
/ClassWork_COMP217_Week2_MKP/x64/Debug/ClassWork_COMP217_Week2_MKP.log
/.vs/ClassWork_COMP217_Week2_MKP/v17/ipch/AutoPCH/e8319ce184752612/CLASSWORK_COMP217_WEEK5_MKP.ipch
/.vs/ClassWork_COMP217_Week2_MKP/v17/ipch/AutoPCH/109c764cccb97f04/MAIN_MKP.ipch
/NumberOf1Bits/x64/Debug
/x64/Debug
